@{
    ViewBag.Title = "CTEOption";
    Layout = "~/Views/Common-Master.cshtml";
}
<div class="page-content" style="margin:0;">
    <!--render body-->
    <div class="container-fluid">
        <!-- Begin page heading -->
        <div class="row">
            <div class="col-sm-6">
                <h1 class="page-heading" id="pageHeading">STUDENT CTE PROGRAM</h1>
            </div>
            <!-- End page heading -->
            @*<div class="col-sm-6 text-right">
                <!-- Begin breadcrumb -->
                <ol class="breadcrumb default square rsaquo sm pull-right">
                    <li><a href="/Login/Dashboard"><i class="fa fa-home"></i></a></li>                   
                    <li class="active">Dashboard</li>
                </ol>
                <!-- End breadcrumb -->
            </div>*@
        </div>
        <div class="the-box" style="min-height:450px;padding:90px 0 0 0;">
            <div class="">
                <div class="TRECA_Box Qualify" style="display:none;">
                    <p>
                        Congratulations <b><span class="studentFullname" id="lblstudentname"></span></b>, 
                        you qualify for the TRECA Tech program!
                    </p>
                    <p>
                        <span id="lblCTERequestStatus"></span>
                        @*Which pathway are you interested in?*@
                        <select style="width:200px;margin: 10px 0 0 0;font-size: 18px;" id="ddlProgramOptions" class="form-control">
                            <option>Select</option>
                        </select>
                    </p>
                    <button type="button" class="btn btn-warning btnCancel">Cancel</button>
                    <button type="button" class="btn btn-success pull-right" data-toggle="modal" id="btnSaveCTERequest">Submit</button> @*data-target="#myModal"*@
                </div>
                <div class="TRECA_Box NotQualify" style="display:none;">
                    <p>
                        Sorry <b><span class="studentFullname" id="lblStudentName1"></span></b>, </p>
                    <p>you do not qualify for the TRECA Tech program at this time!                    </p>
                    <h4><strong>In order to qualify</strong></h4>
                    <ul>
                        <li>
                        you must be in grade 09 - 11</li>
                            <li>
                        You must have a 2.0 GPA or higher</li>
                                <li>
                        You must have 90% or better attendance at TRECA</li>
                    </ul>
                    <p>
                        Please reach out to your Advisor to see how you can qualify next semester

                    </p>
                    <button type="button" class="btn btn-warning btnCancel">Cancel</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<a id="ModelPopUp" class="btn btn-success" href="#myModal" data-toggle="modal" style="display: none"></a>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body" style="text-align:center;">
                <p>Your application has been submitted!</p>
                <p>Your counselor will be in contact with you before the program starts!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/common-scripts-dev.js"></script>

<script src="~/assets/js/jquery-ui-1.10.4.custom.min.js"></script>
<script>
    var LoginUserId;
    $(document).ready(function () {

        var StudentName = window.localStorage.getItem('StudentName');
        var StudentId = window.localStorage.getItem('StudentID');
        var StudentGrade = window.localStorage.getItem('Grade');

        console.log('StudentName - ' + StudentName);
        console.log('StudentId - ' + StudentId);
        console.log('StudentGrade - ' + StudentGrade);

        showLoader();
        $('.NotQualify').hide();
        $('.Qualify').hide();

        var url = '/Login/SelectCTEProgramOptionsPL/';
        $.getJSON(url,
                  function (optionsData) {
                      var select = $("#ddlProgramOptions");
                      select.empty();
                      //select.append($('<option/>', {
                      //    value: 0,
                      //    text: "Select"
                      //}));
                      $.each(optionsData, function (index, itemData) {
                          select.append($('<option/>', {
                              value: itemData.Value,
                              text: itemData.Text
                          }));
                      });
                  });
       
        if (StudentGrade == 5730 || StudentGrade == 5740 || StudentGrade == 5750)//9th OR 10th OR 11th
        {
            $('#lblstudentname').text(StudentName);

            var Status;
            var RQStatus;

            var url = "/Login/CheckStudentQualifiedForCTE/?StudentId=" + StudentId;
            var modelobj = {
                data: 1
            };
            //Catch the result sent from Post Back call
            var response = SendRequestJSON(url, modelobj);
            console.log(response);

            if (response.result == 'Found') {
                Status = response.strStatus;
                RQStatus = response.strRQStatus;
            }

            if (Status == 'S') {
               
                if (RQStatus == 1) { //If the student is already submitted the request...
                    $("#lblCTERequestStatus").text('Your request has already been submitted.');
                    $("#ddlProgramOptions").hide();
                    $("#btnSaveCTERequest").hide();
                }
                else {
                    $("#lblCTERequestStatus").text(' Which pathway are you interested in?');
                    $("#ddlProgramOptions").show();
                    $("#btnSaveCTERequest").show();
                }
                $('.Qualify').show();
                $('.NotQualify').hide();
            }
            else {
                $('.NotQualify').show();
                $('.Qualify').hide();
            }
        }
        else {
            $('#lblStudentName1').text(StudentName);
            $('.NotQualify').show();
            $('.Qualify').hide();

        }

        function showLoader() {
            if ($('body').find('#loadingDiv').attr('id') != 'loadingDiv') {
                var loadingString = '<div id="loadingDiv" class="modal1"><div id="loading-image" class="center"><img src="../assets/img/loader.gif" alt="Loading..." /></div></div>';
                $('body').append(loadingString);
                $('#loadingDiv .bg').height('100%');
                $('#loadingDiv').fadeIn(300);
                $('body').css('cursor', 'wait');
                $("#DefaultModal").hide();
            }
        };

        function hideLoader() {
            $('#loadingDiv .bg').height('100%');
            $('#loadingDiv').remove();
            $('body').css('cursor', 'default');
        }

        hideLoader();

        $(".btnCancel").click(function (e) {
            window.localStorage.removeItem('SchoolCalendarId');
            window.localStorage.removeItem('StudentID');
            window.localStorage.removeItem('StudentName');
            window.localStorage.removeItem('StudentSchoolId');
            window.localStorage.removeItem('StudentSchoolName');
            window.localStorage.removeItem('Grade');

            window.location.href = '/Login/Index';
        });

        //SAVING SCHOOL CTE SETTINGS TO DATABASE...
        $('#btnSaveCTERequest').click(function (e) {
            //prevents the default action of the element
            e.preventDefault();

            if ($("#ddlProgramOptions").val() > 0) {
                var url = "/Login/InsertStudentCTESetupRequest";

                var modelobj = {
                    StudentId: StudentId,
                    CTEProgramOptionPL: $('#ddlProgramOptions').val(),
                    CreatedBy: StudentId
                };
                //Catch the result sent from Post Back call
                var response = SendRequestJSON(url, modelobj);
                if (response.result == 'Inserted successfully') {
                    $("#ModelPopUp").click();
                    //document.getElementById("displayMessage").innerHTML = 'Request added successfully.';
                    //ShowPopup();
                }
                if (response.result == 'Updated successfully') {
                    document.getElementById("displayMessage").innerHTML = 'School CTE Program settings updated successfully.';
                    ShowPopup();
                }
                else if (response.result == 'SessionNotFound') {
                    window.location = response.url;
                }
            }
            else {
                document.getElementById("displayMessage").innerHTML = "Please select Program and click Submit...";
                ShowPopup();
            }

        });

    });

</script>